body{
    margin: 0;
    padding: 0;
    overflow: x;
    background-color: #E9F3EF;
    font-family: Inter, sans-serif;

}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E9F3EF;
}

.navContainer h1{
    margin-left: 150px;
    color: #54BD95;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

ul li{
    margin: 0 15px;
}

ul li a{
    text-decoration: none;
    display: inline-block;
    color: #A6A6A6;
    font-size: 17px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        color 0.3s ease;  
}

ul li:hover a{
    color: black;
    /* transform: scale(1.05); */
}

.navButton{
    margin-right: 130px;
}

.login{
    width: 77px;
    height: 40px;
    background-color: #E9F3EF;
    border-style: none;
    font-size: 15px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    color: #A6A6A6;
    display: inline-block; 
    text-decoration: none;
    cursor: pointer;
}

.login:hover{
    color: black;
}

.signUp{
    width: 77px;
    height: 40px;
    background-color: #54BD95;
    border-style: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    color: white;
    display: inline-block; 
    text-decoration: none;
    cursor: pointer;
}

.signUp:hover{
    color: #54BD95;
    background-color: #ffffff;
}


.firstSection{
    margin-left: 145px;
    background-color: #E9F3EF;
}

.firstSectionBigContainer{
    display: flex;
    margin-top: 60px;
}

.firstSectionBigContainer img{
    margin-left: 12px;
}

.h1{
    font-size: 50px;
    font-weight: 1300;
}

.firstSectionBigContainer p{
    font-size: 20px;
    font-weight: 550;
}

.try{
    width: 130px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    color: #ffffff;
    background-color: #54BD95;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.demo-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    padding: 12px 24px;
    border-radius: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    border-style: none;
    transition: all 0.3s ease;
  }

  .demo-btn:hover {
    border: 1px solid black;
    color: black;
  }

  .demo-btn svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
  }

  .flexButton{
    display: flex;
  }

  .try:hover{
    background-color: #fff;
    color: #54BD95;
    border: 1px solid #54BD95;
  }

  .newH1{
    margin-top: 120px;
    text-align: center;
    font-size: 35px;
    margin-right: 200px;
    color: #333333;
  }

  .notion {
    justify-content: space-evenly;
    margin-top: 10px;
    display: flex;
    margin-right: 120px;
  }

  .secondSection{
    margin-top: 100px;
    background-color: #F9F8FE;
  }
  .innerBig{
    display: flex;
  }

  .secondSectionBigContainer{
    display: flex;
    margin-left: 170px;;
  }

  .plsWork{
    display: flex;
    margin-top: 100px;
  }
  .plsWork img{
    width: 40px;
  }
  .plsWork span{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    padding-left: 10px;
  }

  .collaborate{
    margin-left: 200px;
  }

  .p1{
    margin-left: 50px;
    font-size: 17px;
    font-weight: 550;
    color: #BDBDBF;
  }


  .plsWork2{
    display: flex;
    margin-top: 40px;
  }
  .plsWork2 img{
    width: 40px;
  }
  .plsWork2 span{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    padding-left: 10px;
  }

  .p2{
    margin-left: 50px;
    font-size: 17px;
    font-weight: 550;
    color: #BDBDBF;
  }



.plsWork3{
    display: flex;
    margin-top: 40px;
  }
  .plsWork3 img{
    width: 40px;
  }
  .plsWork3 span{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    padding-left: 10px;
  }

  .p3{
    margin-left: 50px;
    font-size: 17px;
    font-weight: 550;
    color: #BDBDBF;
  }


  .supportPartner{
    margin-top: 70px;
  }
  .supportPartner h1{
    font-size: 40px;
    color: #333333;
  }
  .supportPartner p{
    font-size: 16px;
    color: #BDBDBF;
  }

  .secondRating{
    margin-left: 90px;
  }

  .beans{
    color: black;
    font-weight: 600;
  }

  .thirdSection{
    background-color: hsl(0, 0%, 100%);
  }

  .thirdSectionContainer{
    display: flex;
    justify-content: space-between;
  }
  .thirdSectionContainer h1{
    margin-left: 160px;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
    color: #333333;
  }
  .thirdSectionContainer p{
    margin-top: 120px;
    font-size: 18px;
    color: #A6A6A6;
    font-weight: 500;
    margin-right: 40px;
  }
  .thirdSectionContainer button{
    margin-top: 120px;
    margin-right: 200px;
  }

  .fourthSection{
    background-color: white;
  }
  .fourthSectionContainer{
    display: flex;
    margin-left: 150px;
    gap: 60px;
  }

  .firstInner img{
    width: 300px;
    margin-top: 30px;
  }
  .secondInner img{
    width: 300px;
    margin-top: 30px;
  }
  .thirdInner img{
    width: 300px;
    margin-top: 30px;
  }

  .firstInner h1{
    font-size: 20px;
    color: #333333;
    transition: all 0.50s ease;

  }
  .firstInner p{
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;

  }

  .secondInner h1{
    font-size: 20px;
    color: #333333;
    transition: all 0.3s ease;

  }
  .secondInner p{
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;

  }

  .thirdInner h1{
    font-size: 20px;
    color: #333333;
    transition: all 0.3s ease;

  }
  .thirdInner p{
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 600;
    transition: all 05s ease;

  }

  .firstInner:hover{
    transform: scale(1.05);
  }
  .secondInner:hover{
    transform: scale(1.05);
  }
  .thirdInner:hover{
    transform: scale(1.05);
  }